@media screen and (width<=320px) {
    /* navbar */
    img[alt="logo"] {
        width: 100px;
    }

    #navbar a {
        font-size: 25px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .sec-1 p {
        font-size: 15px;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }

    .sec-2 h1 {
        color: white;
        font-size: 25px;
        font-weight: 600;
    }

    /* cards in main */

    img[alt="card"] {
        width: 100%;
        aspect-ratio: 1/1.3;
    }

    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 13px;
    }

    .box1 div p {
        font-size: 8px;
        text-align: center;
    }

}
@media screen and (320px<width<=720px) {
    /* navbar */
    img[alt="logo"] {
        width: 100px;
    }

    #navbar a {
        font-size: 25px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .sec-1 p {
        font-size: 15px;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }

    .sec-2 h1 {
        color: white;
        font-size: 25px;
        font-weight: 600;
    }

    /* cards in main */

    img[alt="card"] {
        width: 220px;
        aspect-ratio: 1/1.3;
    }

    #cards .container{
        max-width: fit-content;
    }

    #cards .col {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 13px;
    }

    .box1 div p {
        font-size: 8px;
        text-align: center;
    }
 
}
@media screen and (720px<width<=1024px) {

}

@media screen and (1024px<width<=1366px) {

}

@media screen and (1366px<width<=1920px) {

}