@media screen and (width<=320px) {
    /* navbar */
    img[alt="logo"] {
        width: 100px;
    }

    #navbar a {
        font-size: 25px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .sec-1 p {
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        width: 75%;
    }

    .sec-2 h1 {
        font-size: 25px;
        font-weight: 700;
    }

    #subline1 {
        position: relative;
        top: 0;
    }

    #bgImagesHome {
        width: fit-content;
        display: flex;
    }

    img[alt="homeBg"] {
        width: 150px;
        margin: .5rem 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.3s;
        border-radius: .5pc;
    }
    
    img[alt="homeBg"]:hover {
        width: 160px;
        margin: 1.9rem 0;
        filter: none;
        -webkit-filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    /* about */

    img[alt="aboutImg1"] {
        display: none;
    }

    #main-about :is(h1, p) {
        color: #102C57;
        margin: 0rem 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .con {
        width: 90%;
        margin: 2em .5em;
        gap: .1em;
    }

    /* checkout */

    #main-checkout h1 {
        width: 65%;
        font-size: 30px;
    }

    .price-lable {
        color: #102C57;
        display: flex;
        font-size: 15px;
        align-items: center;
        margin: 0;
        width: fit-content;
    }
    
    .purchase-Button {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0;
    }

    #main-checkout .container-fluid {
        background-color: white;
        border-radius: 1pc;
        margin: 2em 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #main-checkout button {
        width: fit-content;
        color: white;
        border: none;
        padding: .3em;
        border-radius: .5pc;
        transition: .2s;
        margin: 2rem 0;
        font-size: 10px;
        background-color: #102C57;
    }
    
    #main-checkout button:hover {
        width: fit-content;
        border: none;
        padding: .3em;
        border-radius: .5pc;
        box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
    }
    

    table {
        font-size: 10px;
        text-align: center;
    }

    #main-admin h1 {
        font-size: 30px;
    }

    #main-admin button {
        font-size: 10px;
    }
    
    #main-admin table button {
        width: 45px;
    }

    img[alt="check-Item"] {
        width: 50px;
        margin: 1rem;
        border-radius: .3pc;
    }

    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 13px;
    }

    .box1 div p {
        font-size: 7px;
        text-align: center;
    }

}
@media screen and (320px<width<=720px) {
    /* navbar */
    img[alt="logo"] {
        width: 100px;
    }

    #navbar a {
        font-size: 25px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .sec-1 p {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        width: 75%;
    }

    .sec-2 h1 {
        font-size: 30px;
        font-weight: 700;
    }

    #subline1 {
        position: relative;
        top: 0;
    }

    #bgImagesHome {
        width: fit-content;
        display: flex;
    }

    img[alt="homeBg"] {
        width: 300px;
        margin: .5rem 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.3s;
        border-radius: .5pc;
    }
    
    img[alt="homeBg"]:hover {
        width: 305px;
        margin: 1.9rem 0;
        filter: none;
        -webkit-filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    /* about */

    img[alt="aboutImg1"] {
        display: none;
    }

    #main-about :is(h1, p) {
        color: #102C57;
        margin: 0rem 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .con {
        width: 90%;
        margin: 2em .5em;
        gap: .7em;
    }

       /* checkout */

       #main-checkout h1 {
        width: 65%;
        font-size: 30px;
    }

    .price-lable {
        color: #102C57;
        display: flex;
        font-size: 15px;
        align-items: center;
        margin: 0;
        width: fit-content;
    }
    
    .purchase-Button {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0;
    }

    #main-checkout .container-fluid {
        width: 100%;
        margin: 0;
    }

    #main-checkout button {
        font-size: 10px;
    }
    

    table {
        font-size: 10px;
        text-align: center;
    }

    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 13px;
    }

    .box1 div p {
        font-size: 7px;
        text-align: start;
    }
 
}
@media screen and (720px<width<=1320px) {
      /* navbar */
      img[alt="logo"] {
        width: 150px;
    }

    #navbar a {
        font-size: 35px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .sec-1 p {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        width: 80%;
    }

    .sec-2 h1 {
        font-size: 50px;
        font-weight: 700;
    }

    #subline1 {
        position: relative;
        top: 0;
    }

    img[alt="homeBg"] {
        width: 650px;
        margin: .5rem 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.3s;
        border-radius: .5pc;
    }
    
    img[alt="homeBg"]:hover {
        width: 600px;
        margin: 1.9rem 0;
        filter: none;
        -webkit-filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    /* about */

    img[alt="aboutImg1"] {
        display: none;
    }

    #main-about :is(h1, p) {
        color: #102C57;
        margin: 0rem 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .con {
        width: 100%;
        margin: 2em .5em;
        gap: 1em;
    }

 /* checkout */

    #main-checkout h1 {
        width: 65%;
        font-size: 30px;
    }

    .price-lable {
        color: #102C57;
        display: flex;
        font-size: 25px;
        align-items: center;
        margin: 0;
        width: fit-content;
    }
    
    .purchase-Button {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0;
    }

    #main-checkout .container-fluid {
        width: 100%;
        background-color: white;
        border-radius: 1pc;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #main-checkout button {
        width: fit-content;
        color: white;
        border: none;
        padding: .3em;
        border-radius: .5pc;
        transition: .2s;
        margin: 2rem 0;
        font-size: 20px;
        background-color: #102C57;
    }
    
    #main-checkout button:hover {
        width: fit-content;
        border: none;
        padding: .3em;
        border-radius: .5pc;
        box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
    }
    

    table {
        font-size: 15px;
        text-align: center;
    }

     /* checkout */

     #main-checkout h1 {
        font-size: 50px;
    }
    
    .purchase-Button {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0;
    }

    -fluid {
        width: 100%;
        background-color: white;
        border-radius: 1pc;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 30px;
    }

    .box1 div p {
        font-size: 15px;
        text-align: start;
    }
}
@media screen and (1320px<width<=1440px) {
      /* navbar */
      img[alt="logo"] {
        width: 150px;
    }

    #navbar a {
        font-size: 35px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 70px;
        font-weight: 700;
    }

    .sec-1 p {
        color: #FFF;
        font-size: 25px;
        font-weight: 400;
        width: 80%;
    }

    .sec-2 h1 {
        font-size: 70px;
        font-weight: 700;
    }

    #subline1 {
        position: relative;
        top: 0;
    }

    img[alt="homeBg"] {
        width: 200px;
        margin: .5rem 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.3s;
        border-radius: .5pc;
    }
    
    img[alt="homeBg"]:hover {
        width: 150px;
        margin: 1.9rem 0;
        filter: none;
        -webkit-filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    /* checkout */

    .price-lable {
        color: #102C57;
        display: flex;
        font-size: 25px;
        align-items: center;
        margin: 0em;
    }
    
    .purchase-Button {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0em;
    }

    #main-checkout .container-fluid {
        width: 100%;
        margin: 0;
    }

    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 30px;
    }

    .box1 div p {
        font-size: 20px;
        text-align: start;
    }
}
@media screen and (1440px<width<=1920px) {
      /* navbar */
      img[alt="logo"] {
        width: 150px;
    }

    #navbar a {
        font-size: 35px;
    }

    /* main Home*/

    .sec-1 h1 {
        font-size: 70px;
        font-weight: 700;
    }

    .sec-1 p {
        color: #FFF;
        font-size: 25px;
        font-weight: 400;
        width: 80%;
    }

    .sec-2 h1 {
        font-size: 70px;
        font-weight: 700;
    }

    #subline1 {
        position: relative;
        top: 0;
    }

    img[alt="homeBg"] {
        min-width: 260px;
        max-width: 300px;
        margin: .5rem 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: all 0.3s;
        border-radius: .5pc;
    }
    
    img[alt="homeBg"]:hover {
        width: 150px;
        margin: 1.9rem 0;
        filter: none;
        -webkit-filter: grayscale(0);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    #main-checkout .container-fluid {
        width: 100%;
        margin: 0;
    }


    /* footer */

    .box1 div p:nth-child(1) {
        margin: 0;
        font-size: 30px;
    }

    .box1 div p {
        font-size: 20px;
        text-align: start;
    }
}