*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

/* navbar */

img[alt="logo"] {
    width: 175px;
}

#navbar {
    z-index: 10;
    position: sticky;
    top: 0;
}

#navbar span {
    font-weight: bolder;
}

#navbar nav {
    background-color: #102C57;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#navbar a {
    color: white;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar a:visited {
    color: rgb(136, 174, 251)
}

#navbar a:hover {
    color: #DAC0A3;
}

#navbar a:active {
    color: white;
}

/* main */

main :is(.sec-1) {
    padding: 3rem 0 10rem 0;
}

main :is(.sec-2) {
    padding: 3rem 0 1rem 0;
}

.sec-1 h1 {
    color: #DAC0A3;
    font-size: 75px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.sec-1 p {
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
}

.sec-2 h1 {
    color: #102C57;
    font-size: 75px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

#main-landing {
    background: linear-gradient(180deg, #102C57 15.42%, #DAC0A3 48.75%);
}

/* cards in main */

img[alt="card"]{
    width: 250px;
}

.card {
    margin: 0 2rem 1rem 0;
    width: fit-content;
}


/* footer */

.footer {
    position: relative;
    bottom:0;
    background: #102C57;
}

.footer div {
    color: white;
    justify-content: space-around;
}

.box1 {
    display: flex;
}

.box1 div p:nth-child(1) {
    margin: 1em 0 1em 0;
    font-size: 2em;
}

.box1 div p {
    margin: .5em 0 1em 0;
}

.copywrite {
    display: flex;
    flex-flow: column;
}

.copywrite p {
    display: flex;
    justify-content: center;
    margin: .3em;
}

/* animation landing */

section .animate {
    transition: 1s;
    overflow: hidden;
}

.sec-1 .animate {
    transform: translatey(0%);
    color: white;
}

.sec-1.show-animate .animate {
    transform: translatey(-100%);
    color: transparent;
}

/* about */

img[alt="aboutImg1"]{
    border-radius: 2pc;
    margin: 2rem 0;
    border: .2rem solid #102C57;
    width: 300px;
}

img[alt="team"]{
    width: 200px;
    border-radius: 100pc;
    border: .2rem solid #102C57;
}

#team h4{
    display: flex;
    justify-content: center;
}

#team div {
    display: flex;
    width: fit-content;
    flex-flow: column;
}

#main-about :is(h1, h4) {
    color: #102C57;
    margin: 2rem 0;
}

#main-about h1 {
    font-size: 70px;
}

#main-about :is(p,h4) {
    font-size: 30px;
}

#main-about {
    background: #DAC0A3;
}

